# Copier ce fichier en .env puis remplir les valeurs
PORT=3000
MONGODB_URI=mongodb+srv://<utilisateur>:<mot_de_passe>@<cluster>.mongodb.net/<base>
JWT_SECRET=<cle_secrete_creee_base64>
CORS_ORIGINS=http://localhost:5173
